* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f0f0f0;
}

/* Контейнер */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Верхняя панель */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px 40px; /* Изменили отступы для синхронизации */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Адаптировали тень */
}

.header .logo {
    font-size: 36px; /* Увеличили размер шрифта */
    font-weight: 700; /* Сделали жирным */
    color: #000000; /* Изменили цвет на черный */
}

.header .buttons {
    display: flex;
    gap: 10px; /* Интервал между кнопками */
}

.header .buttons button {
    background-color: #1BA441; /* Зеленый фон */
    color: white;
    border: none;
    padding: 10px 15px; /* Синхронизировали размеры кнопок */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header .buttons button:hover {
    background-color: #158c34; /* Цвет наведения */
}

/* Основное содержимое */
.content {
    display: flex;
    flex: 1;
    padding: 40px 60px;
}

/* Боковое меню */
.sidebar {
    width: 250px;
    margin-right: 20px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.sidebar-item {
    display: block;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #F9F9F9;
    color: #333;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    transition: background 0.3s;
}

.sidebar-item.active, .sidebar-item:hover {
    background-color: #1BA441;
    color: #FFFFFF;
}

/* Основной блок сообщений */
.main-content {
    flex-grow: 1;
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.message-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.message-item {
    display: flex;
    align-items: center;
    background-color: #F9F9F9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.message-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.message-item .text {
    font-size: 16px;
    flex: 1;
    color: #333;
}

.message-item .time {
    font-size: 14px;
    color: #777;
}

/* Футер */
.footer {
    background-color: #1BA441;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

.footer .footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer .footer-links a {
    color: white;
    text-decoration: none;
}

.footer .footer-links a:hover {
    text-decoration: underline;
}
