body {
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif;
}

.header {
    background-color: #28a745;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}ы

.header .logo h1 {
    color: white;
    font-size: 24px;
    margin: 0;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav ul li {
    margin-left: 20px;
}

.nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #28a745;
    border-radius: 5px;
    color: #28a745;
    background-color: white;
}

.nav ul li a:hover {
    background-color: #218838;
    color: white;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}

ul {
    padding-left: 20px;
}

footer {
    background-color: #28a745;
    color: white;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
