.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .main-page h1 {
    font-size: 3rem;
    color: #333;
  }
  
  .main-page p {
    font-size: 1.5rem;
    color: #666;
  }
  